[submodule "HCI-SerieA-News-FantasyFootball-frontend"]
	path = HCI-SerieA-News-FantasyFootball-frontend
	url = https://github.com/lore1379/HCI-SerieA-News-FantasyFootball-frontend
[submodule "HCI-SerieA-News-FantasyFootball-backend"]
	path = HCI-SerieA-News-FantasyFootball-backend
	url = https://github.com/lore1379/HCI-SerieA-News-FantasyFootball-backend
